.DS_Store
.env
data/*
resources/SNPredictions_all*
output/*
mlruns/*
resources/Thesis_Bachelor
scripts/evaluation/outputs/

__pycache__/
*.py[codz]
*$py.class

*.pt
*.pth
*.onnx

reports/dataset_split_manifest.json
predictions_real.json
predictions_synth.json